#app-root Welcome

= link_to 'Redux version', redux_path
br
= link_to 'Babel version', babel_path

= javascript_include_tag 'todo/delete_button', type: "text/babel"
= javascript_include_tag 'todo/form', type: "text/babel"
= javascript_include_tag 'todo/item', type: "text/babel"
= javascript_include_tag 'todo/box', type: "text/babel"
