#app-root Welcome to redux version of ToDo

= link_to 'Only React', root_path
br
= link_to 'Babel version', babel_path

= javascript_include_tag 'todo_redux/reducers/tasks', type: "text/babel"
= javascript_include_tag 'todo_redux/store', type: "text/babel"
= javascript_include_tag 'todo_redux/actions/todo_actions', type: "text/babel"
= javascript_include_tag 'todo_redux/components/item', type: "text/babel"
= javascript_include_tag 'todo_redux/components/form', type: "text/babel"
= javascript_include_tag 'todo_redux/components/box', type: "text/babel"
= javascript_include_tag 'todo_redux/app', type: "text/babel"
